@{ 
  Layout = "_Layout";
}
@model PestFinder.Models.Location

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.LocationId)
  
  @Html.Label("Add new pest sighting")
  
  @Html.DropDownList("PestId")
  <br />
  <button class="btn btn-primary" type="Save">Add Sighting to the 
  @Html.DisplayFor(model => model.Name)</button>
}