@{ 
  Layout = "_Layout";
}

@model PestFinder.Models.Location

<h1>Delete location: @Html.DisplayFor(model => model.Name)</h1>

@using (Html.BeginForm())
{
  <button type="submit" class="btn btn-danger">Delete Location</button>
}