@{ 
  Layout = "_Layout";
}

@model PestFinder.Models.Location

<div class="jumbotron text-center">
  <h1>Delete location: @Html.DisplayNameFor(model => model.Name)</h1>
</div>
<nav class="navbar sticky-top navbar-expand-lg">
  <button class="nav-item">@Html.ActionLink("Home", "Index", "Home")</button>
  <button class="nav-item">@Html.ActionLink("View locations", "Index", "Locations")</button>
</nav>
<div class="container">
  @using (Html.BeginForm())
  {
    <button type="submit" class="btn btn-danger">Delete Location</button>
  }
</div>