@{
  Layout = "_Layout";
}

@using System.Security.Claims

<hr />
@if (User.Identity.IsAuthenticated)
{
  <h4>Hello @User.Identity.Name!</h4>
}
else
{
  <a href='@Url.Action("Register")'><button class="btn btn-primary">Register</button></a>
  <a href='@Url.Action("Login")'><button class="btn btn-primary">Log In</button></a>
}