@{
  Layout = "_Layout2";
}

@using PestFinder.ViewModels

@model LoginViewModel

<h2>Login in with your account</h2>
<hr />
@using (Html.BeginForm())
{
  <div class="row">
  <span class="col-4">
  <strong>
  <p>@Html.LabelFor(m => m.Email)</p>
  <p>@Html.LabelFor(m => m.Password)</p>
  </strong>
  </span>

  <span class="col-6">
  <p>@Html.TextBoxFor(m => m.Email)</p>
  <p>@Html.PasswordFor(m => m.Password)</p>
  </span>
  </div>
  <button type="submit" class="btn btn-default">Log In</button>
}