@{
  Layout ="_Layout";
}

@model PestFinder.Models.Pest

<h2>Are you sure you want to delete this pest?</h2>

@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<a href='@Url.Action("Index")'><button>Back to List</button></a>
<a href='@Url.Action("Index", "Home")'><button>Home</button></a>